.dataPage {
  font-size: 16px;
  align-content: center;
}
.walletName {
  font-size: 18px;
  font-style: italic;
  margin-bottom: 25px;
}
form {
  position: relative;
  text-align: center;
}
section {
position: relative;
text-align: center;
}
.card-img-top {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 300px;
  margin-top: 10px;
}
.card {
  position: relative;
  text-align: center;
  align-items: center;
  margin-left: 100px;
  margin-right: 100px;
  border-width: 3px;
  border-color: grey;
}
.loading{
  text-align: center;
}
.dataPage {
  text-align: center;
}
